/* styles.css */
.side-progress-bar {
  display: flex;
  flex-direction: column;
  width: 100px; /* Adjust the width as needed */
}

.progress-bar-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.progress-bar-item:hover {
  background-color: #200a0a; /* Change the hover background color */
}

.progress-bar-item.active {
  background-color: #4caf50; /* Change the active background color */
  color: #fff; /* Change the active text color */
}
