section {
  padding: 1em;
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;

}

.no-scroll::-webkit-scrollbar {
  @apply hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  section {
    padding: 3em;
  }
}
