@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: #101010;
  /* border: 2px solid black; */
}

img {
  width: 100%;
}

section {
  padding: 1em;
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
}

.no-scroll::-webkit-scrollbar {
  @apply hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hover for desktop NavLinks */
.navLinkHover {
  border-bottom: 3px solid;
  border-color: transparent;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.navLinkHover:hover {
  border-color: #1877f9;
  transform: scale(1.05);
}

/* Hide default calendar icon  */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  content: url("../src/assets/svg/calendar.svg");
  position: absolute;
  left: 0;
  padding-left: 85%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-ms-clear {
  display: none;
}

.cookie-banner-visible {
  overflow: hidden;
}

/* Hide scrollbar for Webkit browsers */
.gallery-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.gallery-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

img {
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  section {
    padding: 3em;
  }
}
